@define-color foreground #eeeeee;
@define-color foreground-inactive #aaaaaa;
@define-color background rgba(0, 0, 0, 0.9);

* {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: noto sans;
}

#waybar {
    color: @foreground;
    background-color: @background;
}

#workspaces button {
    color: @foreground;
    font-size: 18px;
    padding-left: 0.5em;
}

#workspaces button.empty {
    color: @foreground-inactive;
}

#temperature {
    padding-left: 3em;
}

#custom-weather {
    padding-left: 3em;
}

#memory,
#custom-platform-profile {
    padding-left: 1em
}

#wireplumber,
#battery,
#idle_inhibitor,
#language,
#network,
#bluetooth,
#laptop_keyboard,
#tray {
    padding-right: 1em 
}
